 <!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<br> 
<ion-content>
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">CONNEXION</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">INSCRIPTION</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">nom</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">login</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Keep me Signed in</label>
          </div>
          <div class="group">
            <input type="submit" class="button" value="Sign In">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div>
        
        </div>
        <div class="sign-up-htm">
          <div class="group">
            <select>
              <option>FEMMININ</option>
              <option>MASCULIN</option>
            </select>
          </div>
          <div class="group">
            <label for="user" class="label">nom</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">prenom</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">mdp</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">Email</label>
            <input id="pass" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">date naissance</label>
            <input id="pass" type="date" class="input">
          </div>
         
          <div class="group">
            <input id="pass" type="file"  value="choose file">
             </div>
          <div class="group">
            
           
            <input type="submit" class="button" value="Sign Up">
        
          </div>
        
        </div>
      </div>
    </div>
  </div>
</ion-content>
